/* Site Styles Go Here */
.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-item-flex {
    flex: 0 1 auto;

}

/* two advanced CSS selectors that 
utilize one or more of the following: attribute selector, pseudoclass, conditional selector.  */
.card a:hover {
    background-color: aqua;
}

.card a:visited {
    color: brown;
}

[class|="btn btn-primary"] {

    border: dashed greenyellow;

}

p:hover {
    text-decoration: underline;
}

  /* sm */
  @media (min-width: 731px) {
    body{
    background-color:lightsalmon;
    }
    #width-val:before {
      content: "731px";
    }
  }
  /* md */
  @media (min-width: 1024px) {
    body{
    background-color:lightgreen;
    }
    #width-val:before {
      content: "1024px";
    }
  }
  
  /* lg */
  @media (min-width: 1600px) {
    body{
    background-color:cyan;
    }
    #width-val:before {
      content: "1600px";
    }
  }